{% extends 'base.html' %}

{% block title %} Update Group|| Inventory {% endblock %}

{% block content %}
{% include 'groups/page_header.html' %}

<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary">
        <div class="box-header with-border">

          <div class="col">

            <div class="row py-1">
              <h3 class="box-title">Add Groups</h3> <br>
            </div>
            <form method="POST" enctype="multipart/form-data" >
              {% csrf_token %}
              <label for="fname" class="col-sm-2 col-form-label col-form-label-sm font-weight-bold">Group Name</label>
              <input type="text" class="form-control" aria-describedby="inputGroup-sizing-default" name="groupName" value=''>
              <div class="form-control">
                  {{group.name}}
              </div>
              
              

          </div>
          <br>
        </div>
        <div class="box-body">

          {{group.errors}}
          <table class="table font-weight-normal">
            <thead>
              <tr>
                <th scope="col">Group</th>
                <th scope="col">Permissions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">User</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="userCreate">{{group.permissions}}</td>
  
              </tr>

              <tr>
                <th scope="row">Groups</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="groupCreate">{{group.permissions}}</td>
   
              </tr>
              <tr>
              <!-- <tr>
                <th scope="row">Brands</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="brandsCreate"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="brandsUpdate"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="brandsView"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="brandsDelete"></td>
              </tr> -->
              <tr>
              <tr>
                <th scope="row">Category</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="categoryCreate">{{group.permissions}}</td>
              </tr>
              <tr>
              <!-- <tr>
                <th scope="row">Stores</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="storesCreate"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="storesUpdate"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="storesView"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="storesDelete"></td>
              </tr> -->
              <tr>
              <!-- <tr>
                <th scope="row">Attributes</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="attributesCreate"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="attributesUpdate"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="attributesView"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="attributesDelete"></td>
              </tr> -->
              <tr>
              <tr>
                <th scope="row">Products</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="productsCreate">{{group.permissions}}</td>
              </tr>
              <tr>
              <tr>
                <th scope="row">Orders</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="ordersCreate">{{group.permissions}}</td>
  
              </tr>
              <tr>
              <!-- <tr>
                <th scope="row">Reports</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="inventoryCreate"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="inventoryUpdate"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="inventoryView"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="inventoryDelete"></td>
              </tr> -->
              <tr>
              <!-- <tr>
                <th scope="row">Company</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="companyCreate"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="companyUpdate"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="companyView"></td>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="companyDelete"></td>
              </tr> -->
              <tr>
              <tr>
                <th scope="row">Profile</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="profileCreate">{{group.permissions}}</td>
                
              </tr>
              <tr>
              <tr>
                <th scope="row">Top Selling Products</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="sellCreate">{{group.permissions}}</td>
                
              </tr>
               <tr>
                <th scope="row">Low Selling Products</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="lowCreate">{{group.permissions}}</td>
                
              </tr>
              <tr>
                 <tr>
                <th scope="row">Event Selling Products</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="eventCreate">{{group.permissions}}</td>
              <tr>
                 <tr>
                <th scope="row">Low Products</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="lowpCreate">{{group.permissions}}</td>
  
              </tr>
              <tr>
                 <tr>
                <th scope="row">Expirey Products</th>
                <td> <input type="checkbox" aria-label="Checkbox for following text input" name="exCreate">{{group.permissions}}</td>
                
              </tr>

            </tbody>
          </table>
          <button type="submit" class="btn btn-info"> Update Group</button>
          <button type="submit" class="btn btn-warning"> Back</button>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  tr,
  td {
    font-size: small !important;
    font-weight: 600 !important;
  }
</style>
{% endblock %}