{% if product %}
<div class="box-body">
    
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Price</th>
                <th>Expire Date</th>
                <th>Stock</th>
                
                {% if perms.base.add_product or perms.base.change_product %}
                <th class="text-center">Action</th>
                {% endif %}
            </tr>
            {% for obj in product %}
                <tr>
                    <td>{{ obj.product_name }}</td>
                    <td>{{ obj.category_id.category_name}}</td>
                    <td>{{ obj.Price }}</td>
                    <td>{{ obj.expiry_date}}</td>
                    <td>{{ obj.stock }}</td>                  
                    <td>
                        {% if not obj.product_image %}
                            <div class="image_not_found"><i class="fa fa-desktop"></i></div>
                        {% else %}
                            <img width="40px" height="15" src="/media/{{ obj.product_image }}"
                                 alt="category image">
                        {% endif %}
                    </td>
                        
                    <td class="text-center">
                        {% if perms.base.change_product %}
                        <a class="btn btn-info btn-sm" href="{% url 'product_update' obj.pk %}"><i class="fa fa-pencil"></i></a>
                        {% endif %}
                        {% if perms.base.delete_product %}
                            <a class="btn btn-danger btn-sm" href="{% url 'delete_update' obj.pk %}"><i class="fa fa-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
</div>
{% endif %}
</div>
<!-- Low Stock          -->
{% if lowproduct %}
<div class="box-body">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Price</th>
                <th>Expire Date</th>
                <th>Stock</th>
                {%if perms.base.add_product or perms.base.change_product%}
                <th class="text-center">Action</th>
                {%endif%}
            </tr>
            {% for obj in lowproduct %}
            {%if obj.stock < 5 %}
                <tr>
                    <td>{{ obj.product_name }}</td>
                    <td>{{obj.category_id.category_name}}</td>
                    
                    <td>{{ obj.Price }}</td>
                    <td>{{obj.expiry_date}}</td>
                    <td>{{ obj.stock }}</td>                  
                    <td>
                        {% if not obj.product_image %}
                            <div class="image_not_found"><i class="fa fa-desktop"></i></div>
                        {% else %}
                            <img width="40px" height="15" src="/media/{{ obj.product_image }}"
                                 alt="category image">
                        {% endif %}
                    </td>
                        
                    <td class="text-center">
                        {% if perms.base.change_product %}
                        <a class="btn btn-info btn-sm" href="#"><i
                                class="fa fa-pencil"></i></a>{%endif%}
                        {% if perms.base.delete_product %}
                        <a class="btn btn-danger btn-sm" href="#"><i
                                class="fa fa-trash"></i></a>{%endif%}
                    </td>
                </tr>
                {%endif%}
            {% endfor %}
        </tbody>
        </table>


        <!-- Low Stock          -->
    
</div>
{% endif %}

<div class="box-body">
    {% if expireProducts %}
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Price</th>
                <th>Expire Date</th>
                <th>Stock</th>
                 {%if perms.base.add_product or perms.base.change_product%}
                <th class="text-center">Action</th>
                {%endif%}
            </tr>
            {% for obj in expireProducts %}
            
                <tr>
                    <td>{{ obj.product_name }}</td>
                    <td>{{obj.category_id.category_name}}</td>
                    
                    <td>{{ obj.Price }}</td>
                    <td>{{obj.expiry_date}}</td>
                    <td>{{ obj.stock }}</td>                           
                    <td>
                        {% if not obj.product_image %}
                            <div class="image_not_found"><i class="fa fa-desktop"></i></div>
                        {% else %}
                            <img width="40px" height="15" src="/media/{{ obj.product_image }}"
                                 alt="category image">
                        {% endif %}
                    </td>
                        
                    <td class="text-center">
                        {% if perms.base.change_product %}
                        <a class="btn btn-info btn-sm" href="#"><i
                                class="fa fa-pencil"></i></a>{%endif%}
                        {% if perms.base.delete_product %}
                        <a class="btn btn-danger btn-sm" href="#"><i
                                class="fa fa-trash"></i></a>{%endif%}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>


        <!-- Expire Prducts          -->

</div>
{% endif %}




<div class="box-body">
    {% if topSellingproduct %}
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Price</th>
                <th>Count Sold</th>
                <th>Expire Date</th>
                <th>Stock</th>
            </tr>
            {% for obj in topSellingproduct %}
            
                <tr> <td>{{ obj.product_name }}</td>
                    <td>{{obj.category_id.category_name}}</td>
                    
                    <td>{{ obj.Price }}</td>
                    <td>{{obj.count_sold}}</td>
                    <td>{{obj.expiry_date}}</td>
                    <td>{{ obj.stock }}</td>                        
                    
                </tr>
            {% endfor %}
        </tbody>
        </table>


        <!-- Expire Prducts          -->

</div>
{% endif %}
</div>





<div class="box-body">
    {% if lowSellingproduct %}
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Price</th>
                <th>Count Sold</th>
                <th>Expire Date</th>
                <th>Stock</th>
            </tr>
            {% for obj in lowSellingproduct %}
            
                <tr>
                    <td>{{ obj.product_name }}</td>
                    <td>{{obj.category_id.category_name}}</td>
                    
                    <td>{{ obj.Price }}</td>
                    <td>{{obj.count_sold}}</td>
                    <td>{{obj.expiry_date}}</td>
                    <td>{{ obj.stock }}</td>               
                    
                </tr>
            {% endfor %}
        </tbody>
        </table>


        <!-- Expire Prducts          -->

</div>
{% endif %}
</div>






<div class="box-body">
    {% if eventSellingproduct %}
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Price</th>
                <th>Expire Date</th>
                <th>Stock</th> {%if perms.base.add_product or perms.base.change_product%}
                <th class="text-center">Action</th>
                {%endif%}
            </tr>
            {% for obj in eventSellingproduct %}
            
                <tr>
                    <td>{{ obj.product_name }}</td>
                    <td>{{obj.category_id.category_name}}</td>
                    
                    <td>{{ obj.Price }}</td>
                    <td>{{obj.expiry_date}}</td>
                    <td>{{ obj.stock }}</td>               
                    <td>
                        {% if not obj.product_image %}
                            <div class="image_not_found"><i class="fa fa-desktop"></i></div>
                        {% else %}
                            <img width="40px" height="15" src="/media/{{ obj.product_image }}"
                                 alt="category image">
                        {% endif %}
                    </td>
                        
                    <td class="text-center">
                        {% if perms.base.change_product %}
                        <a class="btn btn-info btn-sm" href="#"><i
                                class="fa fa-pencil"></i></a>{%endif%}
                        {% if perms.base.delete_product %}
                        <a class="btn btn-danger btn-sm" href="#"><i
                                class="fa fa-trash"></i></a>{%endif%}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>


        <!-- Expire Prducts          -->

</div>
{% endif %}
</div>