{% extends 'base.html' %}
{% load static %}

{% block title %} Order List {% endblock %}

{% block content %}

    <section class="content-header">
        <h1> Dashboard <small>Order List page</small></h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Order-List</li>
        </ol>
        {%for message in messages%}
        <div class="alert alert-success" role="alert">
          {{message}}
          </div>
          {%endfor%}
    </section>

    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="box-title">Order List</h3>
                            </div>
                            <div class="col-lg-6 text-right">
                                <a title="Create category" data-toggle="tooltip" data-placement="left"
                                   class="btn btn-info btn-sm" href="/create_order/">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    {% include 'orders/order_list_component.html' %}

                    <div class="box-footer clearfix">
                        {% include 'common/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
