<div class="box-body">
    {% if context %}
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th scope="col">Product Serial Number</th>
                <th scope="col">Product O ID</th>
                <th>Full Name</th>
                <th>Quantity</th>
                <th>Event Name</th>
                <th>Price</th>
                <th>Date</th>

                {%if perms.base.delete_group or perms.base.change_group%}
                <th class="text-center">Action</th>
                {%endif%}
            </tr>
            {% for obj in context %}
                <tr>
                    <td scope="row">{{forloop.counter}}</td>
                      <td scope="row">{{obj.id}}</td>
                    <td>{{ obj.Product_id }}</td>
                    <td>{{ obj.sold_Quantity }}</td>
                    <td>{{ obj.Event_Name}}</td>
                    <td>{{ obj.total_price }}</td>
                    <td>{{ obj.date_time}}</td>
                    <td class="text-center">
                        {% if perms.base.change_group %}
                        <a class="btn btn-info btn-sm" href="/order-update/{{obj.baseentity_ptr.id}}"><i
                                class="fa fa-pencil"></i></a>{%endif%}
                        {% if perms.base.delete_group %}
                        <a class="btn btn-danger btn-sm" href="/order-delete/{{obj.baseentity_ptr.id}}"><i
                                class="fa fa-trash"></i></a>{%endif%}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Order not added yet</h2>
    {% endif %}
</div>
