{% if final_result %}
{% if search_button == 'Search' and request.GET.q != '' %}
<div class="box-body">
    {% if final_result %}
        <table class="table table-bordered">
            <tbody>
            <tr>
                
                <th scope="col">Product Key</th>
                <th scope="col">Primery Key</th>
                <th scope="col">Order Key</th>
                <th scope="col">Product Name</th>
                <th scope="col">Stock</th>

                <th>Price</th>


                {%if perms.base.delete_group or perms.base.change_group%}
                <th class="text-center">Action</th>
                {% endif %}
            </tr>
            {% for obj in final_result %}
                <tr>
                    
                    <td scope="row">{{obj.products.product_uuid}}</td>
                    <td scope="row">{{obj.id}}</td>
                    <td scope="row">{{obj.orderItem.id}}</td>
                    <td>{{ obj.products }}</td>
                    <td>{{ obj.quantity }}</td>
                    <td>{{ obj.price}}</td>
<!--                    <td>{{ obj.total_price }}</td>-->
<!--                    <td>{{ obj.date_time}}</td>-->
                    <td class="text-center">
                        {% if perms.base.change_group %}
                            <a class="btn btn-info btn-sm" href="{% url 'order_update' obj.pk %}"><i class="fa fa-pencil"></i></a>
                        {% endif %}
                        {% if perms.base.delete_group %}
                            <a class="btn btn-danger btn-sm" href="{% url 'order_delete' obj.pk %}"><i class="fa fa-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No order found agains {{request.GET.q}}</h2>
    {% endif %}
</div>
{% endif %}
{% endif %}

